// resets

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

// imports

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

// variables

// font weights

$thin: 300;
$regular: 400;
$bold: 700;


// global styles 


body, input, button, a {
  color: #1d1d1d;
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  font-weight: $regular;
  font-size: 1.6rem;
}

h2 {
  font-size: 3rem;
}
