.login {
align-items: center;
display: flex;
flex-direction: column;
padding: 2rem;
width: 100%;

  &__title {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__email-label,
  &__password-label {
    color: #535353;
    font-weight: 600;
    margin-top: 2rem;
    width: 100%;
  }
  &__email-input,
  &__password-input {
    border: 0.1rem solid #cfcfcf;
    border-radius: 0.5rem;
    color: #1d1d1d;
    margin-top: 1rem;
    min-height: 5rem;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
  }
  &__link {
    margin-top: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    color: #4d25df;
  }
}